doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Manc United
    link(rel='stylesheet', type='text/css', href='build/build.css')
  body
    article
      section
        h1 Manc United
        .li1
          li
          li Al Try Daddy Austin
          li Rion Rolexon
          li Harris Thanto
      section
        h2
          strong 5 Club Sepak Bola Terbaik Dunia
        lp
          strong Versi Manc United
        .li2
          li
          li Real Madrid
          li Barcelona
          li Manchester United
          li PSMS MEDAN
          li Cabe-Cabean U-19
      section
        p Real Madrid
        .kontainer
          ul
            li
            .left
              li
                img(src='build/image/rm.jpg', style='width:100px; height:150px;')
            .center
              li
                p
                  | Negara : Spanyol
                  br
                  | Gelar bergengsi : 10 Liga Champions, 32 Liga Spanyol
            .right
              li
                img(src='build/image/rm2.jpg', style='width:300px; height:200px')
      section
        p Barcelona
        .kontainer
          ul
            li
            .left
              li
                img(src='build/image/rm.jpg', style='width:100px; height:150px;')
            .center
              li
                p
                  | Negara : Spanyol
                  br
                  | Gelar bergengsi : 10 Liga Champions, 32 Liga Spanyol
            .right
              li
                img(src='build/image/rm2.jpg', style='width:300px; height:200px')
      section
        p Manchester United
        .kontainer
          ul
            li
            .left
              li
                img(src='build/image/rm.jpg', style='width:100px; height:150px;')
            .center
              li
                p
                  | Negara : Spanyol
                  br
                  | Gelar bergengsi : 10 Liga Champions, 32 Liga Spanyol
            .right
              li
                img(src='build/image/rm2.jpg', style='width:300px; height:200px')
      section
        p PSMS MEDAN
        .kontainer
          ul
            li
            .left
              li
                img(src='build/image/rm.jpg', style='width:100px; height:150px;')
            .center
              li
                p
                  | Negara : Spanyol
                  br
                  | Gelar bergengsi : 10 Liga Champions, 32 Liga Spanyol
            .right
              li
                img(src='build/image/rm2.jpg', style='width:300px; height:200px')
        pre.
      section(data-bespoke-hash='named-route')
        p Cabe Cabean U-19
        .kontainer
          ul
            li
            .left
              li
                img(src='build/image/rm.jpg', style='width:100px; height:150px;')
            .center
              li
                p
                  | Negara : Spanyol
                  br
                  | Gelar bergengsi : 10 Liga Champions, 32 Liga Spanyol
            .right
              li
                img(src='build/image/rm2.jpg', style='width:300px; height:200px')
      section
        h2.bullet MAULIATE... !!!
        //
          <!--        <h2 class="bullet">Just the beginning...</h2><br>
        //
          <ul>
          <li>Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em></li>
          <li>Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em></li>
          <li>Edit JavaScript in <em>'src/scripts/main.js'</em></li>
          </ul><br>
          <ul>
        //
          <li><strong>Enjoy! :)</strong><a href="http://twitter.com/markdalgleish"> -@markdalgleish</a></li>
          </ul>
    script(src='build/build.js')
