doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Manc United
    link(rel='stylesheet', type='text/css', href='build/build.css')
  body
    article
      section
        h1 Manc United
        .li1
          li
          li Al Try Daddy Austin
          li Rion Rolexon
          li Harris Thanto Silalahi
      section
        h2
          strong 5 Club Sepak Bola Terbaik Dunia
        h3
          strong Versi Manc United
        .li2
          li
          li
            k Real Madrid
          li
            k Barcelona
          li
            k Manchester United
          li
            k Bayern Munchen
          li
            k Juventus
      section#kontainer-rm
        p Real Madrid
        .kontainer
          ul
            .left
            .center
              li
                p Negara : Spanyol
              li
                p Gelar bergengsi : 10 Liga Champions, 32 Liga 
              li
                p Didirikan : Tahun 1902
              li
                p Stadion : Santiago Bernabeu
              li
                p Julukan : Los Galacticos
              |   s
      section#kontainer-bc
        p Barcelona
        .kontainer
          ul
            .left
            .center
              li
                p Negara : Spanyol
              li
                p Gelar bergengsi : 5 Liga Champions, 23 Liga Spanyol
              li
                p Didirikan : Tahun 1899
              li
                p Stadion : Camp Nou
              li
                p Julukan : Cules
      section#kontainer-mu
        p Manchester United
        .kontainer
          ul
            li
            .left
            .center
              li
                p Negara : England
              li
                p Gelar bergengsi : 3 Liga Champions, 20 Liga BPL
              li
                p Didirikan : Tahun 1878
              li
                p Stadion : Old Trafford
              li
                p Julukan : Red Devils
      section#kontainer-bm
        p Bayern Munchen
        .kontainer
          ul
            li
            .left
            .center
              li
                p Negara : German
              li
                p Gelar bergengsi : 25 Liga German
              li
                p Didirikan : Tahun 1900
              li
                p Stadion : Allianz Arena
              li
                p Julukan : Die Roten
      section#kontainer-ju
        p Juventus
        .kontainer
          ul
            li
            .left
            .center
              li
                p Negara : Italy
              li
                p Gelar bergengsi : 28 Liga Serie A
              li
                p Didirikan : Tahun 1897
              li
                p Stadion : Olimpico Stadium
              li
                p Julukan : Si Nyonya Tua
      //
        <section  data-bespoke-hash="named-route" id="kontainer-am">
        <p>Juve</p>
        <div class="kontainer">
        <ul>
        <li></li>
        <div class="left">
        </div>
        <div class="center">
        <li>
        </li>
        </div>
        </div>
        </ul>
        </div>
        </section>
      section
        h2.bullet MAULIATE... !!!
        //
          <!--        <h2 class="bullet">Just the beginning...</h2><br>
        //
          <ul>
          <li>Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em></li>
          <li>Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em></li>
          <li>Edit JavaScript in <em>'src/scripts/main.js'</em></li>
          </ul><br>
          <ul>
        //
          <li><strong>Enjoy! :)</strong><a href="http://twitter.com/markdalgleish"> -@markdalgleish</a></li>
          </ul>
    script(src='build/build.js')
